*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(0, 0, 0)
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://assets.nflxext.com/ffe/siteui/vlv3/77d35039-751f-4c3e-9c8d-1240c1ca6188/b089fca3-9f2d-4bb5-a6f0-e5e02c51b06a/MX-es-20231106-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo{
    width: 13%;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 12vw 1vw 12vw;
    /*position: fixed;*/
}

nav button{
    border: 0;
    outline: 0;
    background: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    padding: 7px 20px;
    border-radius: 0.25rem;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

nav select{
    display: inline-flex;
    align-items: center;
    padding: 7px 25px;
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 7px;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}

.header-content{
    position: absolute;
    /*border: solid red;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
    color:white;
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    width: 70vw;
    font-weight: 600;
}

.header-content h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}

.header-content p{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.email-signup{
    display:inline-block;
    background: rgba(92, 92, 92, 0.5);
    border-radius: 4px;
    border: solid 1px rgb(255, 255, 255);
    padding: 15px;
    max-width: inherit;
    align-items:center;
}

.email-signup input{
    display: block;
    font-size: 20px;
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border: none;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
}

.form button{
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    padding: 20px 20px;
    width: 300px;
    margin-left: 10px;
}

/*-------------------features--------------*/
.features{
    padding: 50px 12%;
    /*font-size: 50px;*/
    color: white;
}

.row{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    margin: 1%;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.text-col h2{
    font-size: 60px;
    margin-bottom: 30px;
}

.text-col p{
    font-size: 30px;
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img{
    display:block;
    width:90%;
    margin:auto;
}

/*--------------------faq---------------*/
.faq{
    /*padding:10px 12%;*/
    text-align: center;
    font-size: 25px;
}

.faq h2{
    font-weight: 800;
    font-size: 70px;
}

.questions{
    margin: 20px auto;
    width: 100%;
    max-width: auto;
}

.questions li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.questions li label{
    display:flex;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    font-weight: 500;
    background: rgb(48, 48, 48);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: "+";
    font-size: 70px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type=checkbox]{
    display: none;
}

.questions .content{
    background: rgb(48, 48, 48);
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.questions input[type=checkbox]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.questions input[type=checkbox]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email-signup{
    /*max-width: 600px;*/
    margin: 20px auto 60px;
}

.faq small{
    font-size: 25px;
}

.faq button{
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    padding: 20px 20px;
    width: 300px;
    margin-left: 10px;
}

/*------------------footer---------------*/
footer{
    border-top: 6px solid rgb(51, 51, 51);
}

footer a{
    color: rgb(172, 170, 170);
}

footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 50px;
    color: rgb(172, 170, 170);
}

footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 30px;
}

footer .col a{
    display: block;
    color:rgb(172, 170, 170);
    font-size: 16px;
    margin-bottom: 20px;
}

footer .row{
    padding: 0px;
    align-items: flex-start;
}

footer select{
    display: inline-flex;
    align-items: center;
    padding: 7px 25px;
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 7px;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}

footer p{
    margin-top: 30px;
    margin-bottom: 10px;
}

